@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Knockout';
  src: url(./Knockout.otf) format("opentype");
  font-display: swap;
}