*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  pointer-events: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", arial, sans-serif;
  background-image: url("https://shoneal.github.io/nba-all-star/images/background-mobile.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 16px;
  padding-block: 0.5rem;
}

header .logo {
  width: 100%;
  max-width: 6.875rem;
  margin-bottom: 0.5rem;
}

header .title {
  width: 100%;
  max-width: 15rem;
}

main {
  margin-bottom: 5rem;
  padding-inline: 16px;
}

.conferences-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.conference:first-child {
  margin-right: 1.15rem;
}

.conference {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.conference .title {
  margin: 0.8125rem;
  color: white;
  font-family: "Knockout", sans-serif;
  font-weight: 360;
  font-size: 3rem;
  font-style: normal;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 8.5rem;
  min-width: 8.5rem;
  max-width: 10.5rem;
  height: 180px;
  border-radius: 4px;
  overflow: hidden;
  text-transform: uppercase;
  background: white;
}

.card-top {
  width: fit-content;
  padding: 0.5rem;
}

.conference-tag {
  border-radius: 2px;
  padding: 0 4px;
  font-weight: 700;
  font-size: 0.75rem;
  background: #e7e9ea;
}

.west .conference-tag {
  color: #c8102e;
}

.east .conference-tag {
  color: #1d428a;
}

.team-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
  padding-inline: 0.5rem;
  color: black;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
}

.player-name {
  padding-inline: 0.5rem;
  color: black;
  font-family: "Knockout", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1;
}

.player-assets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.team-logo {
  max-width: 100%;
  height: 48px;
  margin-left: 2px;
}

.headshot {
  margin-right: -20px;
}

.player-text {
  position: absolute;
  bottom: 0;
  left: 8px;
  color: rgba(111, 114, 116, 0.1);
  font-family: Knockout;
  font-weight: 395;
  font-size: 7rem;
  line-height: 75%;
}

@media screen and (min-width: 600px) {
  .conference .title {
    font-size: 3.5rem;
  }

  .card {
    width: 10.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("https://shoneal.github.io/nba-all-star/images/background.png");
  }
}

@media screen and (min-width: 900px) {
  .conference {
    width: 100%;
  }

  .conference:first-child {
    margin-right: 2.5rem;
  }

  .card {
    width: 8.5rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-block: 1.5rem;
  }

  main {
    padding-top: 0.75rem;
  }
}
